<footer class="footer">
 <ul>
 <li>Atelier Node.js</li>
 <li>Formation continue</li>
 <li><a href="https://www.cmaisonneuve.qc.ca/">Collège de Maisonneuve</a></li>
 </ul>
 <ul>
 <li><a href="https://nodejs.org/fr/">Le site officiel de Node.js</a></li>
 <li><a href="https://nodejs.org/en/foundation/">Fondation Node.js</a></li>
 <li><a href="https://www.linuxfoundation.org/projects/">Fondation Linux</a></li>
 </ul>
 <ul>
 <li><a href="https://www.mongodb.com/">mongoDB</a></li>
 <li><a href="https://www.mongodb.com/download-center?jmp=nav#community">Télécharger mongoDB</a></li>
 <li><a href="https://docs.npmjs.com/how-npm-works/packages">NPM</a></li>
 </ul>
</footer>