<form class='mon_formulaire' action="/modifier" name='mon_formulaire' id='mon_formulaire' method="POST">
 <input type = "hidden" placeholder="id" name = "_id" value=''> 
 <input type = "hidden" placeholder="Nom" name = "nom"> 
 <input type = "hidden" placeholder="Prénom" name = "prenom">
 <input type = "hidden" placeholder="Téléphone" name = "telephone">
 <input type="hidden" value='Modifier'>
</form>

<form class='mon_formulaire' action="/ajouter" name='mon_formulaire' id='mon_formulaire' method="POST" >

 <input type = "text" placeholder="Nom" name = "nom"> 
 <input type = "text" placeholder="Prénom" name = "prenom">
 <input type = "text" placeholder="Téléphone" name = "telephone">
 <input type="submit" value='Ajouter'>
</form>