<nav> 
 <a href='/'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a>
    <a href='/list'><i class="fa fa-graduation-cap" aria-hidden="true"></i>Adresse</a>
    <a href='/peupler' id = "peupler"><i class="fa fa-keyboard-o" aria-hidden="true"></i>Peuplement</a>
    <a href='/vider' id = "vider"><i class="fa fa-industry" aria-hidden="true"></i>Vider la liste des membres</a>

</nav>