*{
    font-family: 'Raleway', sans-serif;
}
table{
	margin: 40px auto;
    border: 10px black solid;
    border-collapse: collapse;
}

td, th{
    border: 2px grey solid;
    padding: 30px;
}

th{
    background-color: aquamarine;
}

td:nth-child(2), td:nth-child(4), td:nth-child(6){
    background-color: #EEEEEE; 
}

header, form, h1, p, footer{
    margin: 0 auto;
    text-align: center;
}

li{
    list-style-type: none;
}

nav{
    margin: 20px auto;
}

nav a{
    font-size: 2em; 
}

h1, p{
    margin: 20px auto;
}